.header {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f0f0f0;
  z-index: 10;
  /* Asegura que esté por encima del resto del contenido */

}

.links {
  display: flex;
  gap: 10px;
}

.button {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}

.filterButton {
  padding: 8px 16px;
  border: none;
  background-color: #28a745;
  color: #fff;
  cursor: pointer;
}

.filterButton:hover {
  background-color: #218838;
}

.filter {
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.option {
}

.option select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.option span {
  font-weight: bold;
}

/* Additional styles can be added as needed */